/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .textBox {
        margin: 0px 15px; 
        padding: 1.5rem;
        max-width: 650px; 
        max-height: 600px; 
    }

    .textBox h1 {
        font-size: 26px;
        margin-bottom: 8px;
        line-height: 30px;
    }
    
    .textBox p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    
    .textBox a {
        font-size: 11px;
    }
    
    .imgBox img {
        width: 170px;
    }
    
    .imgBox img:hover {
        width: 140px;
    }

    .nav-bullet {
        width: 10px;
        height: 10px;
    }
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-nav-menu.show {
        display: block;
    }

    .textBox {
        margin: 0px 10px; /* Further reduce margin */
        padding: 1rem; /* Further reduce padding */
        max-width: 550px; /* Further reduce max-width */
        max-height: 500px;
    }

    .textBox h1 {
        font-size: 22px;
        margin-bottom: 6px;
        line-height: 25px;
    }
    
    .textBox p {
        font-size: 10px;
    }
    
    .textBox a {
        font-size: 9px;
    }
    
    .imgBox img {
        width: 150px;
    }
    
    .imgBox img:hover {
        width: 130px;
    }

    .nav-bullet {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 767px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-nav-menu.show {
        display: block;
    }

    body {
        padding: 20px 30px;
    }

    nav a img {
        max-width: 120px;
        padding: 5px 10px 0px;
    }

    .textBox {
        margin: 0px 5px; 
        padding: 0.5rem; 
        max-width: 100%; 
        max-height: 400px; 
    }

    .textBox h1 {
        font-size: 20px;
        margin-bottom: 4px;
        line-height: 25px;
    }
    
    .textBox p {
        font-size: 9px;
    }
    
    .textBox a {
        font-size: 8px;
    }
    
    .imgBox img {
        width: 180px;
    }
    
    .imgBox img:hover {
        width: 150px;
    }

    .nav-bullet {
        width: 6px;
        height: 6px;
    }
}