/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .textBox {
        margin: 0px 15px; 
        padding: 1.5rem;
        max-width: 650px; 
        max-height: 600px; 
    }

    .textBox h1 {
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 30px;
    }
    
    .textBox p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    
    .textBox a {
        font-size: 11px;
    }
    
    .imgBox img {
        width: 170px;
    }
    
    .imgBox img:hover {
        width: 140px;
    }

    .nav-bullet {
        width: 10px;
        height: 10px;
    }

    .nav-home a,
    .nav-library a,
    .nav-trakteer a,
    .nav-genre a {
        font-size: 13px;
    }

    nav a img {
        max-width: 120px;
    }

    .search-bar {
        min-width: 280px;
    }

    .search-box input::placeholder {
        font-size: 13px;
    }

    /* last update section */
    .last-update-section {
        margin-top: 50px;
    }

    .last-update-header {
        margin-bottom: 20px;
    }

    .last-update-header .headline {
        font-size: 23px;
    }

    .last-update-view a {
        font-size: 15px;
    }

    .last-update-items {
        margin-bottom: 10px;
    }

    .last-update-items img {
        width: 150px;
    }

    .last-update-items h5 a {
        font-size: 12px;
    }

    .last-update-items a {
        font-size: 12px;
    }

    /* new release section */
    .new-release-section {
        margin-top: 30px;
    }

    .new-release-header {
        margin-bottom: 20px;
    }

    .new-release-header .headline {
        font-size: 23px;
    }

    .new-release-view a {
        font-size: 15px;
    }

    .new-release-items {
        margin-bottom: 20px;
    }

    .new-release-items img {
        width: 150px;
    }

    .new-release-items h5 a {
        font-size: 12px;
    }

    .new-release-items a {
        font-size: 12px;
    }

    /* browse-genre-section */
    .browse-genre-section {
        margin: 20px 0;
    }
    
    .browse-genre-form {
        padding: 20px;
    }
    
    .genre-container {
        margin-right: 15px;
        font-size: 14px;
    }
    
    .genre-container .genre-title {
        margin-left: 15px;
    }
    
    .genre-order label {
        font-size: 16px;
    }
    
    .genre-submit input {
        font-size: 12px;
    }

    /* preview genre section */
    .preview-genre-content {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .preview-genre-item img {
        max-width: 150px;
    }

    .description-box h4 a {
        line-height: 1.2 !important;
        font-size: 15px;
    }

    .description-box .genre-list {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    .description-box .genre-list a {
        font-size: 11px;
    }

    .description-box p {
        font-size: 11px;
        -webkit-line-clamp: 6; 
    }
}

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-nav-menu.show {
        display: block;
    }

    nav {
        width: 100%;
    }

    .nav-home a,
    .nav-library a,
    .nav-trakteer a,
    .nav-genre a {
        font-size: 15px;
    }

    nav a img {
        max-width: 100px;
    }

    .search-bar {
        min-width: 280px;
    }

    .search-box input::placeholder {
        font-size: 12px;
    }

    .search-box img,
    .nav-user img,
    .hamburger-menu img {
        width: 20px;
    }

    .textBox {
        margin: 0px 30px; 
        padding: 1rem; 
        max-width: 650px; 
        max-height: 500px;
    }

    .textBox h1 {
        font-size: 19px;
        margin-bottom: 6px;
        line-height: 25px;
    }
    
    .textBox p {
        font-size: 9px;
    }
    
    .textBox a {
        font-size: 9px;
    }

    .imgBox {
        margin: 0px 50px;
    }
    
    .imgBox img {
        width: 150px;
    }
    
    .imgBox img:hover {
        width: 130px;
    }

    .nav-bullet {
        width: 8px;
        height: 8px;
    }

    .search-bar {
        max-width: 500px;
    }

    /* last update section */
    .last-update-section {
        margin-top: 40px;
    }

    .last-update-header {
        margin-bottom: 20px;
    }

    .last-update-header .headline {
        font-size: 18px;
    }

    .last-update-view a {
        font-size: 12px;
    }

    .last-update-items {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 0.4em;
    }

    .last-update-items img {
        width: 110px;
    }

    .last-update-items h5 a {
        font-size: 9px;
    }

    .last-update-items a {
        font-size: 9px;
    }

    /* new release section */
    .new-release-section {
        margin-top: 20px;
    }

    .new-release-header {
        margin-bottom: 20px;
    }

    .new-release-header .headline {
        font-size: 18px;
    }

    .new-release-view a {
        font-size: 12px;
    }

    .new-release-items {
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 0.4em;
    }

    .new-release-items img {
        width: 110px;
    }

    .new-release-items h5 a {
        font-size: 9px;
    }

    .new-release-items a {
        font-size: 9px;
    }

    footer p {
        font-size: 12px;
        line-height: 1.5; 
    }

    /* browse-genre-section */
    .browse-genre-section {
        margin: 10px 0;
    }

    .browse-genre-container h2 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .browse-genre-form {
        padding: 15px;
    }
    
    .genre-container {
        margin-right: 10px;
        font-size: 10px;
    }
    
    .genre-container .genre-title {
        margin-left: 12px;
    }

    .genre-checkmark {
        height: 9px;
        width: 9px;
    }
    
    .genre-order label {
        font-size: 13px;
    }

    .genre-order select {
        font-size: 12px;
    }
    
    .genre-submit input {
        font-size: 11px;
    }

    /* preview genre section */
    .preview-genre-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .preview-genre-item img {
        max-width: 120px;
    }

    .description-box h4 a {
        line-height: 1.2 !important;
        font-size: 13px;
    }

    .description-box .genre-list {
        gap: 3px;
        margin-bottom: 12px;
    }

    .description-box .genre-list a {
        font-size: 10px;
        padding: 3px;
    }

    .description-box p {
        font-size: 10px;
        -webkit-line-clamp: 4; 
    }
}

@media (max-width: 767px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-nav-menu.show {
        display: block;
    }

    nav a img {
        max-width: 120px;
        padding: 5px 10px 0px;
    }

    nav {
        padding-right: 80px;
        padding-left: 80px;
    }

    .textBox {
        margin: 0px 30px; 
        padding: 0.5rem; 
        max-width: 100%; 
        max-height: 400px; 
    }

    .textBox h1 {
        font-size: 20px;
        margin-bottom: 4px;
        line-height: 25px;
    }
    
    .textBox p {
        font-size: 8px;
    }
    
    .textBox a {
        font-size: 7px;
    }

    .imgBox {
        margin: 0px 30px;
    }
    
    .imgBox img {
        width: 150px;
    }
    
    .imgBox img:hover {
        width: 130px;
    }

    .nav-bullet {
        width: 6px;
        height: 6px;
    }

    .nav-home a,
    .nav-library a,
    .nav-trakteer a,
    .nav-genre a {
        font-size: 15px;
    }

    nav a img {
        max-width: 120px;
    }

    .search-bar {
        min-width: 290px;
    }

    .search-box input {
        padding: 0.8rem;
        font-size: 12px;
    }

    .search-box input::placeholder {
        font-size: 12px;
    }

    .search-box img,
    .nav-user img,
    .hamburger-menu img {
        width: 18px;
    }

    /* last update section */
    .last-update-section {
        margin-top: 30px;
    }

    .last-update-header {
        margin-bottom: 17px;
    }

    .last-update-header .headline {
        font-size: 15px;
    }

    .last-update-view a {
        font-size: 11px;
    }

    .last-update-items {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 0.4em;
    }

    .last-update-items img {
        width: 95px;
    }

    .last-update-items h5 a {
        font-size: 8px;
    }

    .last-update-items a {
        font-size: 8px;
    }

    /* new release section */
    .new-release-section {
        margin-top: 20px;
    }

    .new-release-header {
        margin-bottom: 17px;
    }

    .new-release-header .headline {
        font-size: 15px;
    }

    .new-release-view a {
        font-size: 11px;
    }

    .new-release-items {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 0.4em;
    }

    .new-release-items img {
        width: 95px;
    }

    .new-release-items h5 a {
        font-size: 8px;
    }

    .new-release-items a {
        font-size: 8px;
    }

    footer p {
        font-size: 10px;
        line-height: 1.2; 
    }

    /* browse-genre-section */
    .browse-genre-section {
        margin: 0;
    }

    .browse-genre-container h2 {
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .genre-container {
        margin-right: 10px;
        font-size: 10px;
        margin-bottom: 5px;
    }
    
    .genre-container .genre-title {
        margin-left: 12px;
    }

    .genre-checkmark {
        height: 9px;
        width: 9px;
    }

    .genre-order {
        margin: 5px 10px;
    }
    
    .genre-order label {
        font-size: 12px;
    }

    .genre-order select {
        font-size: 10px;
    }
    
    .genre-submit input {
        font-size: 10px;
    }

    /* preview genre section */
    .preview-genre-item img {
        max-width: 90px;
    }

    .description-box h4 a {
        line-height: 1.2 !important;
        font-size: 12px;
    }

    .description-box .genre-list {
        gap: 3px;
        margin-bottom: 12px;
    }

    .description-box .genre-list a {
        font-size: 9px;
        padding: 3px;
    }

    .description-box p {
        font-size: 9px;
        -webkit-line-clamp: 5; 
    }
}