@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --soft-cream: #F8F4F1;
    --charcoal-gray: #686868;
    --misty-blue: #B0C4DE;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--soft-cream);
    scroll-behavior: smooth;
}

main {
    padding: 20px 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 100px 15px;
    background-color: var(--soft-cream);
    transition: box-shadow 0.3s ease-in-out;
}

.navbar-scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a img {
    position: relative;
    max-width: 150px;
    margin-top: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-home a,
.nav-library a,
.nav-trakteer a,
.nav-genre a {
    color: var(--charcoal-gray);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1px;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--charcoal-gray);
}

.search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: var(--charcoal-gray);
    border: 0;
    outline: 0;
}
  
.search-box img,
.nav-user img,
.hamburger-menu img {
    width: 25px;
    cursor: pointer;
}
  
.search-box input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: var(--charcoal-gray);
}

.nav-user img {
    margin-top: 8px;
}

/* sidebar menu */
.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: var(--soft-cream);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-menu.show {
    transform: translateX(0);
}

.sidebar-close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.sidebar-close img {
    width: 25px;
    cursor: pointer;
}

.sidebar-content {
    padding: 1rem;
}

.sidebar-content > div {
    margin-bottom: 20px; 
}

.sidebar-content > div:last-child {
    margin-bottom: 0; 
}

.hamburger-menu {
    display: none;
    margin-top: 7px;
}


/* Hero Section */
.hero-section {
    margin-top: 20px;
    position: relative;
}

.slider-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    justify-content: space-between;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: flex;
    opacity: 1;
}

.slide:not(.active) {
    opacity: 0;
}

.textBox {
    margin: 0px 20px;
    padding: 2rem;
    max-width: 750px;
    max-height: 700px;
    /* background-color: aqua; */
}

.textBox h1 {
    text-transform: capitalize;
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
    line-height: 35px;
}

.textBox p {
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.textBox a {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--charcoal-gray);
    color: var(--white);
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.textBox a:hover {
    background-color: #797777;
    padding: 0.5rem 0.8rem;
}

.imgBox {
    margin: 0px 100px;
}

.imgBox img {
    width: 200px;
    height: auto;
    transition: width 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.imgBox img:hover {
    width: 180px;
}

/* Slider Navigation Bullets */
.slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.nav-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--charcoal-gray);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-bullet.active {
    background-color: var(--misty-blue);
}

/* last update section */
.last-update-section {
    margin-top: 80px;
    position: relative;
}

.last-update-container {
    display: flex;
    flex-direction: column;
}

.last-update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.last-update-header .headline {
    font-size: 25px;
    color: var(--charcoal-gray);
}

.last-update-view a {
    color: var(--charcoal-gray);
    text-decoration: underline var(--charcoal-gray);
}

.last-update-view a:hover {
    color: red;
    text-decoration: underline red;
}

.last-update-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.last-update-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 30px;
    transition: 0.5s;
    gap: 8px;
    text-align: center;
}

.last-update-items:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.last-update-items img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.last-update-items h5 a {
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.2;
}

.last-update-items a {
    font-size: 15px;
    text-decoration: underline var(--charcoal-gray);
    color: var(--charcoal-gray);
    text-transform: capitalize;
    cursor: pointer;
}

.last-update-items a span {
    color: red;
}

/* new release section */
.new-release-section {
    margin-top: 50px;
    position: relative;
}

.new-release-container {
    display: flex;
    flex-direction: column;
}

.new-release-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.new-release-header .headline {
    font-size: 25px;
    color: var(--charcoal-gray);
}

.new-release-view a {
    color: var(--charcoal-gray);
    text-decoration: underline var(--charcoal-gray);
}

.new-release-view a:hover {
    color: red;
    text-decoration: underline red;
}

.new-release-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.new-release-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 30px;
    transition: 0.5s;
    gap: 8px;
    text-align: center;
}

.new-release-items:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.new-release-items img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.new-release-items h5 a {
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.2;
}

.new-release-items a {
    font-size: 15px;
    text-decoration: underline var(--charcoal-gray);
    color: var(--charcoal-gray);
    text-transform: capitalize;
    cursor: pointer;
}

.new-release-items a span {
    color: red;
}

/* footer */
footer {
    position: relative;
    background-color: var(--charcoal-gray);
    padding: 20px 0; 
}

footer p {
    color: var(--soft-cream);
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 1.5; 
}


/* browse-genre-section */
.browse-genre-section {
    margin: 30px 0;
}

.browse-genre-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.browse-genre-container h2 {
    margin-bottom: 20px;
    font-size: 23px;
    color: var(--charcoal-gray);
}

.browse-genre-form {
    padding: 30px;
    border: 1px solid #dbdbdbd3;
    border-radius: 10px;
    background-color: #f3f0edd3;
    box-shadow: 0 4px 8px rgba(88, 88, 88, 0.1);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.genre-container {
    display: flex;
    align-items: center; 
    position: relative;
    padding: 10px; 
    margin-bottom: 15px;
    margin-right: 20px; 
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.genre-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.genre-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.genre-checkmark {
    position: absolute;
    top: 50%; 
    left: 10px;
    transform: translateY(-50%); 
    height: 12px;
    width: 12px;
    border: 1px solid var(--charcoal-gray);
    border-radius: 50%;
}

.genre-container .genre-title {
    margin-left: 15px; 
    vertical-align: middle; 
    cursor: pointer;
}

.genre-container:hover input ~ .genre-checkmark {
    background-color: #ddd2d2;
}

.genre-container input:checked ~ .genre-checkmark {
    border: var(--white);
    background-color: rgba(236, 16, 16, 0.89);
}

.genre-order {
    width: 100%;
    margin: 20px 10px;
}

.genre-order label {
    font-size: 17px;
    font-weight: 600;
    color: var(--charcoal-gray);
}

.genre-order select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.genre-order select option {
    padding: 12px;
}

.genre-submit {
    width: 100%;
    margin: 10px;
    text-align: right;
}

.genre-submit input {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
}
  
.genre-submit input[type=submit]:hover {
    background-color: #45a049;
}

/* preview genre section */
.preview-genre-section {
    margin: 20px 0;
    position: relative;
    max-width: 1200px;
}

.preview-genre-container {
    padding: 10px 0;
}

.preview-genre-content {
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.preview-genre-item {
    display: flex;
    background-color: #f3f0edd3;
    box-shadow: 0 4px 8px rgba(88, 88, 88, 0.1);
    gap: 15px;
    padding: 10px;
    border: 1px solid #dbdbdbd3;
    border-radius: 10px;
    /* max-width: 583px; */
}

.preview-genre-item img {
    max-width: 180px;
    border-radius: 10px;
}

.description-box h4 a {
    display: block;
    text-transform: capitalize;
    color: var(--charcoal-gray);
    font-weight: 600;
    line-height: 1.2 !important;
    font-size: 18px;
    margin-bottom: 5px;
}

.description-box h4 a:hover {
    text-decoration: underline var(--charcoal-gray);
}

.description-box .genre-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.description-box .genre-list a {
    background-color: rgba(236, 16, 16, 0.89);
    color: var(--white);
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
}

.description-box .genre-list a:hover {
    background-color: rgba(231, 50, 50, 0.89);
}

.description-box p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* preview last update */
.preview-last-update-section,
.preview-new-release-section {
    margin: 20px 0;
    width: 100%;
}

.preview-last-update-container,
.preview-new-release-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-last-update-header,
.preview-new-release-header {
    margin-bottom: 30px;
}

.preview-last-update-header .headline,
.preview-new-release-header .headline {
    color: var(--charcoal-gray);
    font-size: 25px;
    font-weight: 700;
}

.preview-last-update-list,
.preview-new-release-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.preview-last-update-item,
.preview-new-release-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.preview-last-update-item a img,
.preview-new-release-item a img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.preview-last-update-item:hover,
.preview-new-release-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.preview-last-update-item h5 a,
.preview-new-release-item h5 a {
    font-size: 13px;
    text-decoration: none;
    text-transform: capitalize;
}

.preview-last-update-item a,
.preview-new-release-item a {
    font-size: 15px;
    text-decoration: underline;
    color: var(--charcoal-gray);
}

.preview-last-update-item a span,
.preview-new-release-item a span {
    color: red;
}

/* pagination */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination {
    display: flex;
    align-items: center;
    text-align: center;
}

.pagination button,
.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a.active,
.pagination button:disabled {
    background-color: #333;
    color: #fff;
    cursor: default;
}

.pagination button:not(:disabled):hover,
.pagination a:hover {
    background-color: #ddd;
}

.hidden {
    display: none;
}

.pagination button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}

.page-number {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: var(--light-gray);
    border-radius: 5px;
}

.page-number.active {
    background: var(--charcoal-gray);
    color: white;
}

