@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --soft-cream: #F8F4F1;
    --charcoal-gray: #686868;
    --misty-blue: #B0C4DE;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--soft-cream);
    padding: 20px 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 100px; */
}

nav a img {
    position: relative;
    max-width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-home a,
.nav-library a,
.nav-trakteer a {
    color: var(--charcoal-gray);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1px;
}

.nav-genre {
    position: relative;
    min-width: 50px;
    cursor: pointer;
}

.nav-genre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: var(--charcoal-gray);
    border-radius: 10px;
}

.genre-list {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 150px;
    border-radius: 15px;
    background-color: var(--charcoal-gray);
    max-height: 0;
    overflow: hidden;
    color: var(--soft-cream);
    transition: max-height 0.5s ease-out;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#genre-list.show {
    max-height: 350px; 
}

.genre-list-item {
    font-size: 15px;
    font-weight: 600;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-list-item:hover {
    margin-left: 0.5rem;
}

.nav-genre-container img {
    max-width: 20px;
    transition: transform 0.5s ease; 
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    min-width: 100px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--charcoal-gray);
}

.search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: var(--charcoal-gray);
    border: 0;
    outline: 0;
}
  
.search-box img,
.nav-user img {
    width: 25px;
    cursor: pointer;
}
  
.search-box input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: var(--charcoal-gray);
}

.nav-user img {
    margin-top: 8px;
}